{% extends "base.html" %}

{% from "table.html" import render_table, table_scripts %}

{% block title %}Device {{ device_id }} Classifications{% endblock %}

{% block content %}
<div class="container">
    <h2>Device {{ device_id }} Classifications</h2>
    {{ render_table('classificationsTable', classifications, ['device_id', 'model_id', 'formatted_time', 'family',
    'genus', 'species', 'family_confidence', 'genus_confidence', 'species_confidence', 'image_link'],
    url_for('download_csv', table_name='classifications', device_id=device_id)) }}
</div>
{% endblock %}

{% block scripts %}
    {{ table_scripts('classificationsTable') }}
{% endblock %}